<?xml version="1.0"?>
<ruleset name="cakephp-stop-spam">
    <arg value="p"/>
    <file>.</file>

    <rule ref="./vendor/mirko-pagliai/php-tools/sniffer-ruleset.xml"/>

    <rule ref="Generic.Files.LineLength.TooLong">
        <severity>0</severity>
    </rule>
    <rule ref="SlevomatCodingStandard.Classes.ModernClassNameReference.ClassNameReferencedViaFunctionCall">
        <severity>0</severity>
    </rule>
</ruleset>
