parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method StopSpam\\\\SpamDetector\\:\\:noExisting\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/SpamDetectorTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/SpamDetectorTest.php

