<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	processIsolation="false"
	stopOnFailure="false"
	bootstrap="./tests/bootstrap.php"
	>

	<testsuites>
		<testsuite name="cakephp-stop-spam Test Cases">
			<directory>./tests/TestCase</directory>
		</testsuite>
	</testsuites>
    
	<!-- configure code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
</phpunit>
